%div
  = render 'devise/shared/tab_single', tab_title: '两步验证'
  .login-box
    .login-body
      - if @user.two_factor_otp_enabled?
        = form_for(resource, as: resource_name, url: session_path(resource_name), method: :post, html: { class: "edit_user gl-show-field-errors js-2fa-form #{'hidden' if @user.two_factor_u2f_enabled?}" }) do |f|
          - resource_params = params[resource_name].presence || params
          = f.hidden_field :remember_me, value: resource_params.fetch(:remember_me, 0)
          %div
            = f.label '两步验证代码', name: :otp_attempt
            = f.text_field :otp_attempt, class: 'form-control', required: true, autofocus: true, autocomplete: 'off', title: '必填项'
            %p.form-text.text-muted.hint 输入手机上的 Two-Factor 应用验证码. 如果丢失了手机，可以输入恢复代码进行验证。
            .prepend-top-20
              = f.submit "验证", class: "btn btn-success"

      - if @user.two_factor_u2f_enabled?
        = render "u2f/authenticate", locals: { params: params, resource: resource, resource_name: resource_name }
